.contact{
    text-align: center;
    font-family: cursive;
    color:white;
    text-decoration: none;
}

.icons{
    padding: 10px;
}

.icons a{
    color: white;
}

.icons a:hover{
    color:grey;
}

.icon{
    margin: 0 10px 0px 10px;
}

.contactImage{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

@media(max-width:500px){
    .contactImage{
      margin-top: 90px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
