.skills{    
    text-align: center;
    color: white;
}

.skills h1{
    font-family: cursive;
}

ul{
    list-style: none;    
}

.skill li{
    margin-right: 40px;
}

.skill a{
    text-decoration: none;
    color:white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 9%;
}

.skill a:hover{
    background-color:#eee;
    color:#66d9eb;
    border: 1px solid #66d9eb;
}

.resume{
    margin-top: 15px;
}

hr{
    width: 50%;
}